# Proyecto del Día 9: Consulta de Temperaturas Interactivo por Ciudad y Mes

## Objetivo

El proyecto propuesto consistirá en la creación de un programa interactivo para la visualización de datos meteorológicos. Este programa permitirá a los usuarios visualizar los registros climáticos eligiendo el lugar y el més. El objetivo es aplicar los conceptos de creación de gráficos, personalización de estilos y combinarlo con las habilidades de desarrollo de programas con Python.

## Consigna

1. **Cargar un DataFrame** con los datos meteorológicos provistos en el archivo descargable de esta lección.
2. Asegúrate de que las **fechas** estén en el **formato correcto** para su manipulación posterior.
3. Crea un programa (una función o un conjunto de funciones) que le pida al usuario que seleccione una **ciudad** de la lista de ciudades disponibles en nuestro DataFrame, y un **mes** del año.
4. Muéstrale al usuario un gráfico que muestre las temperaturas mínimas y máximas que se registraron en la ciudad elegida durante el mes elegido.
5. El programa debe preguntarle al usuario si desea seguir haciendo consultas o no.

**¡Mucha suerte!**

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
ruta="C:\\Users\\azy51\\Downloads\\Datos+Meteorológicos_Arg_2023.csv"
df=pd.read_csv(ruta)
df

,Fecha,Ciudad,Temperatura Maxima,Temperatura Minima,Precipitacion,Velocidad del Viento,Humedad Relativa
0,1/1/2023,Buenos Aires,27,18,0.0,22.7,68.8
1,1/1/2023,Cordoba,35,18,0.0,33.8,61.7
2,1/1/2023,Rosario,23,21,0.0,10.6,80.0
3,1/1/2023,Mendoza,35,21,0.0,23.8,76.8
4,1/1/2023,Tucuman,36,18,17.2,25.7,54.9
...,...,...,...,...,...,...,...
1820,31/12/2023,Buenos Aires,15,12,0.0,17.9,49.2
1821,31/12/2023,Cordoba,15,7,0.0,17.8,62.4
1822,31/12/2023,Rosario,14,8,0.0,38.2,31.2
1823,31/12/2023,Mendoza,13,9,84.8,27.6,35.3
1824,31/12/2023,Tucuman,15,10,0.0,30.0,49.1

In [29]:
from  datetime import datetime
date_string="30/12/2023".strip()
print(f"Date string: {date_string}")

Date string: 30/12/2023

In [31]:
from  datetime import datetime
date_format="%d/%m/%Y"
print(f"Format string: {date_format}")

Format string: %d/%m/%Y

In [33]:
from  datetime import datetime
date_string="30/12/2023".strip()
date=datetime.strptime(date_string,date_format)

In [35]:
date

datetime.datetime(2023, 12, 30, 0, 0)

In [39]:
df["Fecha"]=pd.to_datetime(df["Fecha"],format="%d/%m/%Y")
df.head()

,Fecha,Ciudad,Temperatura Maxima,Temperatura Minima,Precipitacion,Velocidad del Viento,Humedad Relativa
0,2023-01-01,Buenos Aires,27,18,0.0,22.7,68.8
1,2023-01-01,Cordoba,35,18,0.0,33.8,61.7
2,2023-01-01,Rosario,23,21,0.0,10.6,80.0
3,2023-01-01,Mendoza,35,21,0.0,23.8,76.8
4,2023-01-01,Tucuman,36,18,17.2,25.7,54.9

In [41]:
lista_ciudades=[]
for c in df["Ciudad"]:
    if c not in lista_ciudades:
        lista_ciudades.append(c)

In [43]:
lista_ciudades

['Buenos Aires', 'Cordoba', 'Rosario', 'Mendoza', 'Tucuman']

In [49]:
dict_meses={1:"Enero",
            2:"Febero",
            3:"Marzo",
            4:"Abril",
            5:"Mayo",
            6:"Junio",
            7:"Julio",
            8:"Agosto",
            9:"Septiembre",
            10:"Octubre",
            11:"Noviembre",
            12:"Diciembre",}

In [57]:
def consultar_temperaturas():
    while True:
        #solicitar la ciudad
        print(lista_ciudades)
        ciudad_chosen=input("Elija la coudad de la lista")

        #solicitar el mes
        mes_elegido=int(input("Elija un mes"))

        #validar los inputs
        if ciudad_chosen not in lista_ciudades or mes_elegido not in range(1,13):
            print("Ciudad o mes no validos, intentalo nuevamente")
            continue

        #Crear el dataframe filtrado
            datos_ciudades_mes=df[(df["Ciudad"]==ciudad_chosen) & (df["Fecha"]).dt.month==mes_elegido]

        #graficas las temperaturas
            plt.figure(figsize=(10,6))
            plt.plot(datos_ciudades_mes["Fecha"],datos_ciudades_mes["Temperatura Máxima"],label="Máxima",color="red")
            plt.plot(datos_ciudades_mes["Fecha"],datos_ciudades_mes["Temperatura Minima"],label="Máxima",color="red")


        #preguntar si se quieres continuar

In [ ]:
consultar_temperaturas()

['Buenos Aires', 'Cordoba', 'Rosario', 'Mendoza', 'Tucuman']

Elija la coudad de la lista Rosario
Elija un mes 5

['Buenos Aires', 'Cordoba', 'Rosario', 'Mendoza', 'Tucuman']

Elija la coudad de la lista 5
Elija un mes 6

Ciudad o mes no validos, intentalo nuevamente
['Buenos Aires', 'Cordoba', 'Rosario', 'Mendoza', 'Tucuman']